
.center {
  
display: flex;
  flex-direction: column;
  align-self: center;
 
  
  
}

.navbar{
  height: 86px;
}

.menu > li > a{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color:#000000;
}

.searchBar{
  display: flex;
  background-color: #F6F6F6;
  width:100vw;
  
}
.sunIcon{
  color:#FFAD00;

}

.saveEnergy{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #000000;
  margin-right: 2vw;
}

.block{
  background-color: #00000061;
}

.toggleNav{
  background-color: #00000061;
  
}



.rightIcons{
  display:flex;
  align-content:space-around;
}

.carousel{
  width:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.carouselArrows{
  font-size: 25px;
}

.categoryCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryMenu{
  display: flex;
  
}

.categoryImg{
  height: 6vh;
}

.colorsModel{
  display: flex;

}

.cardsModels{
  display: flex;
  flex-wrap: wrap;
  
}

.imgModel{
  bottom: 0;
}

.modelCard{
  width: 24.3%;
  border-radius: 7px;
}

.subtitles{
  font-size: 32px;
  color:#1D1D1F;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  

}

.headersContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 3%;
}
.stockAvailability{
  display: flex;
  align-items: center;
  font-size: 12px;
}
.stockAvailability >p{
  color: #52A35A;
  
}
.stockAvailability >svg{
  background-color: #52A35A;
  color: white;
  border-radius: 50% ;
  
  
}
.deliveryDate{
  color: #52A35A;
  font-size: 12px;
}

.actionBtn{
  display: flex;
  align-items: center;
  align-content: flex-start;
  
  
}

.price{
  font-size: 21.5px;
  font-weight:bold;
  color: #FF4D23;
}

.carousel > .card-compact{
  width:auto;
  border-radius: 1%;
  
  
}


.productName{
  font-size: 13px;
  font-weight: 700;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color:#000000;
}
.productDescription{
  font-size: 10px;
  color: #8D929B
}
.productID{
  font-size: 10px;
  
}
.cardBodyItem{
  gap:0;
  
}
.actionBtn > svg{
  width: 9%
  
}
.actionText{
  font-size: 10px;;
  
}
.actionBtn > p{
  flex-grow: 0;
}
.highlightSection{
  display: flex;
  
}
.appledays{
  width:14vw;
 height: 36vh;
}
.promoHeader{
  position: absolute;
  margin-top: 1%;
  margin-left: 1%;
  font-size: 34px ;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-style: italic;
  font-weight: 900;
  color: #001839;
}
.radialAppleDays{
  position: relative;
  margin-top: 6%;
  color: #FD6205
}
.radialAppleDays > p{
  color: #001839;
  font-size: 24px;
  font-weight: 700;
  
}
.radials{
  display: flex;
  position: absolute;
  margin-top: 6%
}
.radialsTime{
  display: flex;
  flex-direction: column;
  align-self:center;
  align-self: center;
}
.radialsTime > p{
  color:#001839;
  text-align: center;
  font-weight: 400;
  font-size: 9px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.btnAppleDays{
  position: absolute;
  margin-top: 15%;
  margin-left:2%;
  font-size: 16px;
  width: 7%;
  background-color:white ;
  border: 0;
  color:#FF7352;
  border-radius: 2%;

}
.seeMore{
  color: #FF4D23;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 600;
}
.bgLight{
  background-color: #FFFFFF;
}
.modelTitle{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 25px;
  color: #1D1D1F;
  font-weight: 700;
  margin-bottom: 3%;
}
.categoryText{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #1D1D1F;
  font-size: 14px;
  font-weight: 700;
}


.articleCard{
  width: 100vw;
  background-color: #FFFFFF;
  margin-top:5%;
}

.articleContent{
  bottom: 0;
  margin-bottom: 2%;
  margin-left: 5%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 15px;
}

.articlesSection{
  display:flex;
  align-content: space-between;
}

.footerSection{
 display: flex;
 flex-direction: column;
 align-items: center;
  margin-top: 5%; 
  
  

}

.infoText > a{
color:#000000;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 12px;
font-weight:400;
}

.infoText > span{
  color:#000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.description{
  color:#000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-top:3%;
}

.newsletter{
  background-color: #FF4D23;
  width: 40%;
  
  margin-top: -2%;
  display: flex;
  align-content:space-between
}

.newsletterTitle{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
}

.newsletterContent{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
}

.newsletterIcon{
  color:#FF4D23;
}

.newsletterInput{
  width: 19vw;
  
}

.newsletterBox > input::placeholder {
  color: #C4C4C4;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 12px;

}

.productImg{
  width: 222px;
  height: 222px;
}

.carousel {
  width: 100%;
  padding-right: -30px;
  margin: 0;
}

.carouselHighlight{
  width: 8.3vw; 
}

.carouselPromo{
  left: 0;
  width: 8.8vw; 
}

.paymentSection{
  display: flex;
  flex-direction: row;
  align-content:space-between;
  margin-left: -2%;
}

.paymentMethods{
  margin-right:60%

}

.promoItem{
  height: 15vh;
}

.discount{
  background-color: #F5CC45;
  color:#000000;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  height: 34px;
  width: 55px;
  text-align: center;
  margin-left: 5vw;
padding-top:1%
  

}

.discountWatch{
  margin-left: 6.6vw;
  padding-top:1%
}

.pvpr{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  font-weight: 700;
  color: #848484
}

.noDiscount{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 10px;
  font-weight: 800;
  color: #000000;
  text-decoration: line-through;
}