
.center {
  
display: flex;
  flex-direction: column;
  align-self: center;
 
  
  
}

.form-control{
  background-color: grey;
  width:60%;
}

.sunIcon{
  color:#FFAD00;

}

#flexSwitchChecked{
  background-color: #000000;


}

.rightIcons{
  display:flex;
  align-content:space-around;
}

.carousel{
  width:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.carouselArrows{
  font-size: 25px;
}

.categoryCard{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categoryMenu{
  display: flex;
  
}

.categoryImg{
  height: 6vh;
}

.colorsModel{
  display: flex;

}

.cardsModels{
  display: flex;
  flex-wrap: wrap;
  
}

.imgModel{
  bottom: 0;
}

.modelCard{
  width: 24.3%
}